@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-kuning: #fdd65f;
  --color-tombol: #ecc635;
  --color-bacg: #1e0235;
  --color-f-text: #381e4b;
  --color-b-black : #000000
  --color-putih :#FFFFFF
  --color-t-font: #9d8cb0;
  --color-t-fonta:#cdcdcd
}


/* membuat class Tailwind baru */
@utility zoom-in {
  animation: zoomIn 1.5s ease-out forwards;
}

/* geser ke kiri */
@layer utilities {
  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }
   
    100% {
      transform: translateX(-60%);
    }
  }

  .animate-slide-left {
    animation: slide-left 10s linear infinite;
  }
  
  .hover\:pause-animation:hover {
    animation-play-state: paused;
  }
}

/* scale: 0.8 → elemen lebih kecil (80%)
opacity: 0 → elemen tidak terlihat (transparan)2
 */
@keyframes zoomIn {
  0% {
    scale: 0.9;
    opacity: 0;
  }
  /* scale: 1 → ukuran normal

opacity: 1 → fully terlihat */
  100% {
    scale: 1;
    opacity: 1;
  }
}




@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(280deg);
  }
}


.animate-rotateY {
  animation: rotateY 10s linear infinite;
  transform-style: preserve-3d;
}


@layer utilities {
  .text-shadow-bro {
    text-shadow: 0 0 12px rgba(168, 85, 247, 1); /* purple-500 */
  }
}


/* belajar membuat animasi
tahap:
1. mendefinisikan animasi baru dengan namanya menggunakan 
@keyframes nama_animasi
2. membuat class tailwindcss baru untuk di pake seperti class lain di tailwindcss
@utility namaClassbaru{
animation: nama animasi baru .times(s) -> 5 detik
 -> cubic-bezier(.22,.9,.32,1) -> agar lebih smooth
 forwards
Setelah animasi selesai, posisi akhir tetap dipertahankan.
cara menggunakan 
1. contoh

@keyframe zoom_in {
0%{transform :scale(0.8);opacity:0}->kondisi element saat awal animasi
100%{transform :scale(1);opacity:1} ->elemen diperbesar kembali menjadi normal
}

selanjutnya buat class tailwindcss
@utility animate-zoom-in {
  animation: zoom-in .5s cubic-bezier(.22,.9,.32,1) forwards; -> zoom-in selamat 0.5detik
}
}
*/


/* .dark {
  transition: background-color 0.9s ease, color 0.9s ease;
} */
